<div class="expand-panel">
    <mat-accordion>
        <!-- robots meta tags -->
        <mat-expansion-panel *ngFor="let pageTag of pageTags" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ pageTag }}
                </mat-panel-title>
                <mat-panel-description>
                    <!-- Currently I am {{ panelOpenState ? "open" : "closed" }} -->
                    <!-- <i class="fa fa-digital-tachograph"></i> -->
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Content -->

            <ng-container class="content" *ngIf="pageTag === 'Robots Meta Tags'">
                <p>
                    Select the relevant instuctions, so bots know what info to display after crawling this page.
                </p>
                <!-- <section class="example-section" *ngFor="let item of robotsMetaDataList">
                    <mat-checkbox class="example-margin" [value]="item.value" (change)="onCheckChange($event)">{{ item.type }}</mat-checkbox>
                </section> -->
                <form [formGroup]="meta_tags_form">
                    <ng-container formArrayName="advanced_seo">
                        <div  *ngFor="let item of metaDataTags['controls']; let i = index;">
                            <!-- [checked]='item.value.value'  -->
                            <div [formGroupName]="i">
                                <input type="checkbox" formControlName="value" (change)='onChanges(i)' id='i' placeholder="Item type"> {{item.value.type}}
                            </div>
                        </div>
                    </ng-container>
                </form>
            </ng-container>

            <!-- additional tags -->
            <ng-container class="content" *ngIf="pageTag === 'Additional Tags'">
                <p>
                    These tags give search engines important info about your site pages.
                </p>
                <section class="example-section" *ngFor="let tags of tagsSearch">
                    <div class="meta-data">
                        <div class="additional">
                            <p class="meta item" style="color: rgb(197, 228, 230);">{{tags.value}}</p>
                            <p class="url">{{tags.value}}</p>
                            <p>
                                <i class="fa fa-ellipsis-h item"></i>
                            </p>
                        </div>
                    </div>
                </section>
                <section class="example-section">

                    <button mat-button>
                Add new Tag
            </button>
                </section>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>