
<div class="seo-page">
    <p>preview on Google</p>
    <div class="preview">
        <h4>New Page| mysite</h4>
        <p style="margin-top:1px; color:green"> link url </p>
    </div>

    <hr>
    <div class="homepage">
        <h3>Homepage Url</h3>
        <p> this is your homepage and the URl is your domain name.</p>
    </div>

    <hr>

    <form class="title">
        <div >
            <label for="title" style="padding: 4px;">What is your page's title tag(title in search)?</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="New Page | mysite">
        </div>

        <div >
            <label for="" style="padding: 4px;">What is the page's met descriptions?</label>
           
            <textarea  
            class="form-control" name="title"
            placeholder="what makes this page unique? describe your business and the content of this page"
            ></textarea>
        </div>
    </form>
    
</div>