.seo-page{
    margin: 15px;
}

.preview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid rgba(35, 35, 39, 0.2);
    padding: 3px ;
    max-width:400px
}
.preview h4{
    margin: 3px 0 0 3px;
    color: rgb(45, 47, 223);
    padding:2px;
    font-size: 16px;
    font-weight: 600;
}

.title{
    margin: 5px;
}

.homepage h3, p{
    margin: 0;
    padding:5px ;
}

