<mat-nav-list>
  <form>
    <div class="form-group">
      <input
        [(ngModel)]="search"
        type="text"
        class="form-control shadow-none"
        id="siteName"
        name="search"
        aria-describedby="siteSearch"
        placeholder="search all pages"
      />
    </div>

    <!-- {{search.target.value}} -->
  </form>

  <mat-accordion class="example-headers-align">
    <!-- robots meta tags -->
    <mat-expansion-panel class="grow-item" 
    (opened)="panelOpenState "
      (closed)="panelOpenState = false"
      [expanded]="true"
       hideToggle
       >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fa fa-angle-down"></i>
           <h3 style="margin: 4px 0 0 7px; font-weight: 700;">Pages</h3> 
        </mat-panel-title>
        <mat-panel-description>
          
          <!-- <span class="more-page"><i class="fa fa-plus fa-lg"></i></span> -->
          <button mat-button class="add-button" #tooltip="matTooltip" matTooltip="Add new Page"
          [matTooltipPosition]="'above'"
          (click)="$event.stopPropagation();open()"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container">
            <span class="more-page"><mat-icon>add</mat-icon></span>

          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Content -->
      <ng-container style="width: 100%;">
        <div
          *ngFor="let page of allPagesData | searchPage: search; let i = index"
          (mouseenter)="hoverPage[i] = true"
          (mouseleave)="hoverPage[i] = false"
        >
          <!-- class="pages" *ngFor="let page of pageData; let i = index" -->
          <a
            class="pages"
            href="#"
            style="color: rgb(3, 0, 0)"
            [ngClass]="{ 'pages-hover': hoverPage[i] }"
          >

          <!-- pages listing here -->
            <h3 class="item">
              {{ page.name }}
              <i *ngIf="page.hide" style="margin-left: 4px;" class="fa fa-eye-slash"></i>
            </h3>
            <span style="padding-top: 6px;">
              <i *ngIf="page.home_page" class="fa fa-home"></i>
              <i class="fa fa-ellipsis-h" (click)="showData(i)"></i>
            </span>
          </a>
          <div class="dropdown" style="z-index: 99">
            <div *ngIf="openDropdown" class="dropdown-content-active">
              <ng-container
                *ngFor="let setting of settingType; let tabIndex = index"
              >
                <button mat-button (click)="settings(setting)">
                  {{ setting }}
                </button>
                <hr *ngIf="tabIndex === 2" />
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-expansion-panel>

    <!-- add more page -->
    <!-- <i class="fa fa-plus fa-lg more-page"></i> -->
  </mat-accordion>
  <!-- All pages -->

  <!-- Settings compponents -->
  <div>
    <!-- class="page-info" -->
    <!-- <i class="fa fa-ellipsis-h "  class]="openTabs == true ? 'page-info-active' : 'page-info-none'"></i> -->
    <div
      class="page-info-active"
      style="bottom: 1px"
      *ngIf="openComponentTabs && pageSelected"
    >
      <app-page-properties></app-page-properties>
    </div>
  </div>
</mat-nav-list>
