<mat-nav-list>

  <form>

    <div class="form-group">
      <input 
      type="text" 
      class="form-control shadow-none" 
      id="siteName" 
      aria-describedby="siteSearch" 
      placeholder="search all pages"
     >
    </div>

  </form>


    
  <div *ngFor="let page of allPagesData; let i = index">
        <!-- class="pages" *ngFor="let page of pageData; let i = index" -->
        <a class="pages"  href="#" style="color: rgb(3, 0, 0);">
          <h3 class="item">
            {{page.name}}
          </h3>
          <span>
            <i *ngIf="page.home_page" class="fa fa-home"></i>
            <i class="fa fa-ellipsis-h"(click)='showData(i)'></i>
          </span>
        </a>
        <div class="dropdown" style="z-index: 1">
          <div *ngIf="openDropdown" class="dropdown-content-active">
          <button mat-button *ngFor="let setting of settingType; let tabIndex = index " (click)='settings(setting)' >{{setting}}</button>
          </div>
        </div>
      </div>

      <!-- Settings compponents -->
      <div >
        <!-- class="page-info" -->
        <!-- <i class="fa fa-ellipsis-h "  class]="openTabs == true ? 'page-info-active' : 'page-info-none'"></i> -->
        <div class="page-info-active" *ngIf="openComponentTabs && pageSelected" >
          <app-page-properties  ></app-page-properties>
        </div>
      </div>

</mat-nav-list>