
<div class="container">
    <div class="heading1">
        This is Heading 1
    </div>
    
    <div class="heading2">
        this is heading 2
    </div>

    <div class="heading3">
        This is Heading 3
    </div>
    
    <div class="heading4">
        this is heading 4
    </div>
    <div class="heading5">
        This is Heading 5
    </div>
    
    <div class="heading6">
        this is heading 6
    </div>
    
    <div class="p1">
        this is paragra1
    </div>
    <div class="p2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, vitae vero maxime ipsum saepe error hic? Ratione recusandae animi delectus excepturi provident tempora modi, natus voluptatum? Modi vero magnam quidem.
    </div>

    <div class="p3">
        this is p3 with Moon Dance Font
    </div>
</div>
