<div class="container center">
  <div class="card">
    <div class="header">
      <h5>BreakPoints List
          <span style="float: right; cursor: pointer;" (click)="close()">X</span>
      </h5>
      <hr />
    </div>
    <div class="content">
        <p style="opacity: 0.5;font-size: 10px;">Add some breakoints of this page to design for different viewport size.</p>
      <div class="list">
        <img src="assets/images/Tablet.svg" alt="">
        <p style="display: inline;margin: 3px;">1201 and up</p>

        <!-- actions -->
        <div class="action">
            <!-- <i class="fas fa-pen"></i> -->
            <!-- <i class="fa fa-pencil fa-2x"></i>
            <i class="fas fa-trash-alt"></i> -->
    
            <!-- for editing actions -->
            <button style="line-height: inherit; color: blue;" mat-button>
                Cancel
            </button>
            <button style="line-height: inherit;background-color: blue;color: white;"  mat-button>
                Done
            </button>
          </div>
      </div>
      
    </div>

    <div class="footer">
      <hr />
      <button mat-button>Add Breakpoint</button>
    </div>
  </div>
</div>
