<mat-card class="example-card" style="cursor: pointer;"  (click)='onSelectTypography()'>
    <mat-card-title>{{typograph.style_type}}</mat-card-title>
    <i class="fa fa-pencil fa-2x" (click)='onSelectTypography()' aria-hidden="true"></i>
 <!--    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
    <mat-card-subtitle>{{typograph.font}}, {{typograph.size}}px</mat-card-subtitle>
    <mat-card-content>
        <div class="font" style="font-size: 69px;line-height: 1;opacity: 0.1;">
            {{typograph.font}}
        </div>
    </mat-card-content>
    
  </mat-card>

  <hr>

  <ng-container *ngIf="show">
      <app-typography-item [typograph]='typograph' ></app-typography-item>
  </ng-container>