<mat-nav-list>
    <mat-list-item  (click)='toggletypography("typo")' >
      <p matLine >Typography</p>
 
    </mat-list-item>
    <mat-list-item (click)='toggletypography("color")' >
        <p matLine >Background</p>
         <!-- <button mat-icon-button >
            <mat-icon>info</mat-icon>
         </button> -->
      </mat-list-item>
      
  </mat-nav-list>

  <div class="side-typography">
      <div class="head">
        <h3>
          Page 
          <span *ngIf="toggleList['typo']">Typography</span> 
          <span *ngIf="toggleList['color']">Background</span> 
          Styles
        </h3>
      </div>
      
      <hr>


      <!-- fonts picker -->
      <ng-container *ngIf="toggleList['typo']" >
        <app-typography-list   *ngFor="let typograph of typograp_list | async as list; let i=index" [typograph]='typograph'></app-typography-list>
      </ng-container>

      <!-- colors picker -->
      <ng-container *ngIf="toggleList['color']" >
        <div style="width: 18rem;">
          <!-- (onChangeComplete)="changeComplete($event)" -->
          <color-sketch  (onChange)="handleChange($event)" appBackgroundColorChange [color_variable]='color' ></color-sketch>
        </div>
      </ng-container>
  </div>