<mat-nav-list>
    <mat-list-item (click)='toggleDesign("typo")' >
      <p matLine >Typography</p>
 
    </mat-list-item>
    <mat-list-item (click)='toggleDesign("color")'>
        <p matLine >Background</p>
         <!-- <button mat-icon-button >
            <mat-icon>info</mat-icon>
         </button> -->
      </mat-list-item>
      
  </mat-nav-list>

  <div class="side-typography">
      <div class="head">
        <h3>Site Typography Styles</h3>
      </div>
      
      <hr>


      <!-- fonts picker -->
      <ng-container *ngIf="toggleList['typo']" >
        <app-typography-list  *ngFor="let item of list; let i=index" [index]='i'></app-typography-list>
      </ng-container>

      <!-- colors picker -->
      <ng-container *ngIf="toggleList['color']" >
        <h2>color picker</h2>
      </ng-container>
  </div>