
<div class="seo-page">

    <div class="homepage">
        <h3>Social Share Settings</h3>
        <p>
            Open Graph(og) tags are used by social networks like Facekbook to display text and an image when this page shared.

        </p>
    </div>

    <hr>

    <p>preview on Social</p>
    <div class="card" >

        <input class="card-img-top" type="file" id="image">
        <div class="card-body preview">
            <h4>New Page| mysite</h4>
            <p style="margin-top:1px; color:green" class="card-text"> link url </p>
        </div>
      </div>
   

    <hr>

    <form class="title">
        <div >
            <label for="title" style="padding: 4px;">What is your page's og:title tag(title on Social media)?</label>
            <input 
            type="text" 
            class="form-control shadow-none" 
            name="title" id="title" 
            [formControl]='social_page_title'
            placeholder="New Page | mysite"
            >
        </div>

        <div >
            <label for="" style="padding: 4px;">What is the page's meta og:descriptions(Description on Social media)?</label>
           
            <textarea  
            class="form-control shadow-none" 
            name="title"
            [formControl]='social_meta_description'
            placeholder="what makes this page unique? describe your business and the content of this page"
            ></textarea>
        </div>
    </form>
    <hr>
   
</div>