
.home{
    margin: 0;
    /* padding-left: 8px; */
}
mat-toolbar{
    /* background:rgba(0,0,0,0.2); */
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* margin:  10px; */
    z-index: 4;
    
}

mat-sidenav{
    margin: 18px 8px 8px 8px;
    width: 150px ;
    border-right: none;
    /* background:rgba(0,0,0,0.2); */
    background: #385d91;
    color:white;
    border-radius: 10px;
    padding: 12px;
    z-index: 2;
    position: fixed;
    top: 50px;
    bottom: 50px;

}

.content{

    /* height: calc(100vh-98px); */
    margin:8px 8px 8px 32px;
    border-radius: 10px;
}


mat-sidenav-container{
    /* height: calc(100vh-65px); */
    /* height: calc(100vh - 56px); */
    overflow: auto;

}


.footer {
    overflow: auto;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }