
<div class="home">
  <!-- head nav -->
  <mat-toolbar color="primary">
    <button mat-icon-button   (click)='sidenav.toggle()'>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened ">close</mat-icon>
    </button>
    Page Builder
  </mat-toolbar>

  <!-- sidebar nav  -->
  <mat-sidenav-container > 
    <mat-sidenav  #sidenav >
      <app-sidenav></app-sidenav>
    </mat-sidenav>


    <!-- Main -->
    <mat-sidenav-content>
      <div class="content">
        main Content 
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Footer -->
</div>