
<div class="home">
  <!-- head nav -->
  <mat-toolbar color="primary">
    <button mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>
    Page Builder
  </mat-toolbar>

  <!-- sidebar nav  -->
  <mat-sidenav-container > 
    <mat-sidenav  mode='side' opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>


    <!-- Main -->
    <mat-sidenav-content>
      <div class="content">
        main Content 
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Footer -->
</div>