
.home{
    margin: 0;
    position:relative;

}


.fa{
    display: inline;
    padding-top:13px;
}
.mat-drawer-side {
    border:none;

}

.mat-sidenav-content{
  z-index: -1;

  width: 98%;
  overflow: scroll;
  height: 100vh;
  margin: 65px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.mat-drawer-container .mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}
.mat-drawer-transition .mat-drawer-content {
  transition-duration: 0s !important;
  position: none;
  z-index: 2;
  }

  
mat-sidenav .topy{
  position: fixed;
  left: 0;
  width: 100px;
}


.sidenanToggle{
position: fixed;
top: 32px;
z-index: 9999;
margin-left: 20px;
color: black;
}

.sidenanToggle .fa{
  font-size: 18px;
  padding: 12px;
 
}

mat-sidenav{
    margin: 3px 8px 8px 8px;
    border-right: none;
    /* background: #ece9e9; */
    color:rgb(44, 10, 240);
    border-radius: 10px;
    padding: 12px;
    /* z-index: 2; */
    position: fixed;
    top: 72px;
    left: 0;
    bottom: 50px;

}

mat-sidenav .pages-side{
  width: 285px ;
}


.content{

    /* height: calc(100vh-98px); */
/*     margin:109px 8px 8px 32px;*/    
  border-radius: 10px;
    

}


mat-sidenav-container{
    /* height: calc(100vh-65px); */
    /* height: calc(100vh - 56px); */
    overflow: auto;

}
.mat-drawer-container{
    position: static;
  }
