h3{
    margin: 5px !important;    
}
.fa{
    margin-top: 3px;
}

a{
    text-decoration: none;
    color: white;
}

.pages{
    display: flex;
    justify-content: space-between;
}
button{
    float: right;
    text-align: right;
}
