<mat-card class="example-card">
  <div style="margin-left: 5px;">

    <mat-card-title>Edit {{typograph?.style_type}}</mat-card-title>
    <mat-card-subtitle>
      <form class="example-form">
        <!-- Fonts lists -->
        <div class="font-list" >
          <div class="fonts item"  matTooltip="Fonts"
          matTooltipPosition="above">
            <select class="form-select form-select-sm" aria-label="Default select example">
              <option *ngFor="let item of all_fonts | async as list" [value]="item" [selected]="item ===typograph.font">
                {{item}}
              </option>
              
            </select>
          </div>
  
          <!-- font size -->
          <div class="font-size item"  matTooltip="Font size"
          matTooltipPosition="above">
            <input type="number" min="0" [value]="typograph.size" class="form-control">
            <span>px</span>
          </div>

          <div class="font-type item">
            <mat-button-toggle-group name="fontStyle" value="All" class="font-type--style" aria-label="Font Style">
              <mat-button-toggle matTooltip="Bold"
              matTooltipPosition="above"
              style="line-height: none;" value="bold">
              Bold
            </mat-button-toggle>
              <mat-button-toggle matTooltip="Italic"
              matTooltipPosition="above"
               value="italic">
               Italic
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div class="color item">  
            <button mat-button matTooltip="Color"
            matTooltipPosition="above"
            >Color</button>
          </div>
        </div>
      </form>
      
    </mat-card-subtitle>
    <mat-card-content>
      <div class="font-display-field">
        <div style="font-size: 89px;line-height: 2;opacity: 0.1;">
          {{typograph.font}}
      </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="float: right;">
      <button mat-button>Cancel</button>
      <button mat-button color='primary'>Apply</button>
    </mat-card-actions>
  </div>
  </mat-card>