<mat-card class="example-card">
    <mat-card-title>{{index}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam eum dicta aliquam ratione 
          ipsa culpa iste maxime tempora ad recusandae sit odit, quaerat fugit necessitatibus, cumque a, veritatis pariatur?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>