.example-card {
    max-width: 526px;
    position: fixed;
    top: 131px;
    left: 40em;
    height: 359px;
    border-radius: 25px;
  }

  .mat-card-content{
    /* height: 188px; */
    overflow: auto;
  }

  .mat-card-subtitle{
    margin-top: 18px !important;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .font-list{
    display: flex;
    margin-left: 2px;
  }

  .font-size{
    display: flex;
    /* padding: 0.2em; */
    padding-left:0.2em ;
    border: 1px solid;
    border-radius: 8px;
    flex-basis: 100px;
  }
  .fonts{
    flex:0 0 216px;
  }

 .form-control{
    border: none;
    padding: 0 !important;
  }

  input[type="number"]{
    padding:4px ;
  }
  .form-select-sm{
    padding-top: 0.35rem;
    border-radius: 0.5rem;
  }

  .item{
    margin-left: 5px;
  }

  .font-type{
    display: flex;
  }

  .font-type--style{
    border: none;
    
  }

  .mat-button{
    min-width: 30px;
  }

  .mat-button-toggle-group {
    height: 32px;
    align-items: center;
    margin-left: 6px;
  }

  .color button{
    margin-top: -2px;
  }

  .font-display-field{
    
    height: 170px; 
    /* text-align: center; */
    padding: 45px 23px;
  }

  span{
    margin-top: 4px;
  }

/* Hide the checkboxes */
input[type='checkbox'] { display:none; }

/* Default styling for labels to make them look like buttons */
input[type='checkbox'] + label {
  display:inline-block;
  /* box-shadow:1px 1px grey; */
  border-radius:3px;
  /* backgrounpxd-color:#e0e0e0; */
  margin:2px;
  padding:5px 10px;
  font-family:Arial, Helvetica, sans-serif;
  cursor:pointer;
  color: black;
}

/* Styling for labels when corresponding checkbox is checked */
input[type='checkbox']:checked + label {
  /* box-shadow:-1px -1px grey;
  background-color:#f78d32; */
  background-color:#b6b3b1;
}

.font-color-picker{
  position: fixed;
  top: 49px;
  left: 1002px;
  width: 235px;
  background:white;
}

.font-color-picker-none{
  display: none;
}

.sketch-picker[_ngcontent-gxw-c176]{
  box-shadow: none !important;
}