<div >
  <h3 class="pageInfo">
    <p class="pageHead">{{selectedPageData?.page.name}}</p>
    <i class="fa fa-arrow-circle-left fa-2x"  (click)='closeTabs()'></i>
  </h3>
  <hr>
  <mat-tab-group #tabs animationDuration="0ms" [selectedIndex]="selectedIndex">
      <mat-tab  *ngFor="let tabname of allTabs" [label]="tabname">{{tabname}}</mat-tab>
    </mat-tab-group>

    <!-- <nav mat-tab-nav-bar [backgroundColor]="background">
      <a mat-tab-link *ngFor="let link of links"
         (click)="activeLink = link"
         [active]="activeLink == link"> {{link}} </a>
      <a mat-tab-link disabled>Disabled Link</a>
    </nav> -->
</div>